<div class="product" >
  <div class="mosaic-block circle unprocessed">
    <a href="<%= product_path(product) %>" class="mosaic-overlay">&nbsp;</a>
    <div class="mosaic-backdrop" style="display:block;"><img src="<%= product.image_url %>" style="width:640px;height:480px;" /></div>
  </div>
</div>